[Desktop Entry]
Comment=Based on Reactionary and QTStep Translucent theme.
Name=Memphis Translucent
X-KDE-PluginInfo-Author=Stanton731
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=memphis-translucent
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
