/* COLORS */
@define-color bg #191919;
@define-color light #212121;

/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
    font-family: "UbuntuMono Nerd Font Mono";
    font-size: 14px;
    font-weight: bold;
    padding: 0;
}

/* The whole bar */
window#waybar {
    background: @bg;
    color: @light;
    border: 2px solid #191919;
}

#window {
    padding: 2px 8px;
    color: #9b9b9b;
}

#tags, #workspaces {
    background: #212121;
    color: #9b9b9b;
}

#workspaces button, #workspaces button:hover, #tags button, #tags button:hover {
  padding: 2px 6px;
  background: #212121;
  color: #9b9b9b
}

#workspaces button, #tags button.occupied {
  background: #2f2f2f;
}

#workspaces button.persistent {
  background: #212121;
}

#workspaces button.focused,
#workspaces button.urgent,
#tags button.focused,
#tags button.urgent {
  padding: 2px 6px;
  background: #9b9b9b;
  color: #212121;
}

/* Each module */
#mode,
#clock,
#taskbar button,
#workspaces,
#tray,
#battery,
#network,
#pulseaudio,
#backlight {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    background: #212121;
    color: #9b9b9b
}

#taskbar {
    padding: 6px 6px;
}
