/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
@define-color bg #191919;
@define-color light #212121;

/* Reset all styles */
* {
    border: none;
    border-radius: 0px;
    min-height: 0;
    font-family: "UbuntuMono Nerd Font Mono";
    font-size: 14px;
    font-weight: bold;
    padding: 0;
}

/* The whole bar */
window#waybar {
    background: @bg;
    color: @light;
    border: 2px solid #191919;
}

/* Each module */
#clock,
#taskbar button,
#workspaces,
#tray,
#battery,
#pulseaudio,
#backlight {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
    background: #212121;
    color: #9b9b9b
}

#taskbar {
    padding: 0 6px;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}
